.mainproductpage {
    display: flex;
    margin: 1% 2% 1% 6%;
}

.sidebar {
    /* border:1px solid red; */
    height: 400px;
    flex: 1;
    text-align: left;
}

.sidebar>h1 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 16%;
    margin-bottom: 0%;
    cursor: pointer;
}

.sidebar>hr {
    width: 68%;
    margin: auto;
    margin-top: 2%;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: none;
}

.sidebar>h3 {
    font-size: 13px;
    font-weight: 600;
    margin-left: 16%;
    margin-bottom: 0%;
    color: #323232;
    cursor: pointer;
    font-weight: 600;
}

.forcolorclothing {
    color: #F7396E !important;
}

.productshowingdiv {
    /* border:1px solid blue; */
    display: flex;    
   flex-wrap: wrap;
    padding: 1%;
    /* gap: 1%; */
    font-weight: 500 !important;
    width: 89%;
}

.particularproduct {
    color: #323232;
    width: 250px;
    height: 420px;
    /* border: 1px solid red; */
    margin: 1%;
    font-weight: 500 !important
}

.changeImg{
    width: 100%;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
}
.changeImg:hover{
    display: none;
}
.changeImgs{
    width: 100%;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    display: none;
}
.changeImgs:hover{
    display: block;
}
.background{
    cursor: pointer;
}
/* style={{background:`url(${e.image[1]})`,width:"100%",height:"350px",
                 backgroundSize: "auto"
                 }} */
.fontofproductname {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    text-align: left;
    margin-bottom: 0%;
    color: black;
    font-weight: 500 !important
}

.fontofproductnamecolor {
    font-size: 15px;
    color: #F7396E;
    text-align: left;
    margin-top: 0%;
}

.forlinethrough {
    text-decoration: line-through;
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.colms3div {
    height: 30px;
    display: flex;
    font-size: 14px !important;
    cursor: pointer;
}

.color1 {
    background-color: #FFE9E5;
    flex: 1;
    text-align: center;
    display: grid;
    place-content: center;
}

.color2 {
    background-color: #F8C9C8;
    flex: 1;
    text-align: center;
    display: grid;
    place-content: center;
}

.color3 {
    background-color: #FFE9E5;
    flex: 1;
    text-align: center;
    display: grid;
    place-content: center;
}

.belowcolms3div {
    height: 30px;
    /* border: 1px solid red; */
    font-size: 14px;
    text-align: left;
    padding-left: 29%;
    display: grid;
    align-content: center;
    margin-top: 8%;
    font-weight: 500 !important
}

.below2ndnavbardiv {
    /* border:1px solid black ;   */
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.below2ndnavbardiv>select {
    border: 1px solid rgb(207, 207, 207);
    width: 180px;
    height: 35px;
    color: rgb(136, 136, 136) !important;
    margin-right: 1%;
    margin-bottom: 2%;
    cursor: pointer;
    font-weight: 500 !important
}

.below2ndnavbardiv>select>option {
    color: rgb(136, 136, 136) !important;
    margin-bottom: 10% !important;
    cursor: pointer;
    font-weight: 500 !important
}

.forsortinglowtohighdiv {
    width: 92%;
    border: 1px solid rgb(226, 226, 226);
    border-left: none;
    border-right: none;
    height: 30px;
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600 !important
}

.forsortinglowtohighdiv>div {
    /* border: 1px solid red; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forlinecolor {
    color: rgb(226, 226, 226)!important;
    font-size: 23px;
    font-weight: 350;
}

.rightsortby>select {
    border: none;
    cursor: pointer;
    width: 150px;
}

.rightsortby>select>option {
    cursor: pointer;
    width: 150px;
}
/* .filtroContainer{
   flex:3;
} */
.forsizefilter{
    max-width: 200px;
}

@media screen and (max-width:1000px){
  .sidebar{
      display: none;
  }
  .filtroContainer{
   display: flex;
   flex-direction: column;
}
.belowcolms3div {
    padding-left: 5%;
}
.view{
    visibility: hidden;
}
.below2ndnavbardiv {
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.particularproduct{
    margin:auto
}
}