.wrapperleftright{
    /* display:grid;
    grid-template-columns: 65% 35%; */
    /* 
   /* display: flex; */
   width:100%;
   margin: auto;
   display: flex;
   border:1px solid black;
}
.image{
    /* height:492px;
    width:370px; */
    height:100%;
    width:100%
}

.image:hover{
    cursor: zoom-in;
}

.imgwrapper{
   
   padding-left:7%;
    

}
.mainwrapper{
    display:grid;
    grid-template-columns: 63% 35%;
    border-bottom: 1px solid rgb(184, 178, 178);
    padding-bottom: 20px;
    /* overflow-y: scroll; */
   margin-top: 100px;
}

/* Again css */
.mainDiv{
    display: flex;
    margin-top: 100px;
}


/* rest of eliment css */

.wrapper{
    /* border:1px solid black; */
    box-sizing: border-box;
    padding:15px;
   width: 100%;
   padding-left:25px;
   
  
}
.size{
    color:black;
    border:gray;
    height:40px;
    width:40px;
    background:white
}
.titletext{
    font-weight: 15px;
    font-size: 20px;
    margin-bottom: 10px;
}

.graytext{
    color:#999;
    margin-bottom: 6px;
}
.boldtext{
  font-size: 14px;
  font-weight: 500;
  color:rgb(49, 49, 49);
  margin:0
}
.offers{
    border: 1px solid rgb(131, 131, 131,0.3);
    
    box-sizing: border-box;
/* margin:20px; */
padding:15px
}
.horizontalline{
    width:99%;
    color:rgba(148, 147, 147, 0.822)
}
.offergray{
    color:gray;
    font-size: 13px;
}
.checkpin{
    border:1px solid rgb(131, 131, 131,0.3) ;
    box-sizing: border-box;
    margin-top: 15px;
    padding:10px
}
.pinbox{
    height:40px;
    width:95%;
    border:0px solid rgb(131, 131, 131,0.3);
    /* direction:rtl; */
    margin-top: 0px;
}
.pinboxDiv{
    height:45px;
    width:95%;
    border:1px solid rgb(131, 131, 131,0.3);
    /* direction:rtl; */
    display: flex;
}
.pinboxBtn{
    font-size: 12px;
    color: tomato;
    border: none;
    background:transparent;
    margin-top: 10px;
    cursor: pointer;
}
.checkpintext{
    color:gray;
    font-size: 14px;
}

.pindeets{
    margin:4px;
}

.lastinright{
   
    margin-top:20px;
    border-top: white;
}

.buttonb{
    background-color: white;
    border:1px solid rgb(131, 131, 131,0.3);
    height:50px;
    margin-right:2%;
    width:100px;
    border-bottom: 1px solid rgb(250, 248, 248);
}

.descriptionb{
    color:gray;
    font-size: 13px;
    border:1px solid rgb(131, 131, 131,0.3);
    line-height: 17px;
    padding:10px
}

.buttonstyle{
    border-bottom:1px solid rgb(131, 131, 131,0.3) ;
}

.boldtextlast{
    font-size: 16px;
    font-weight: 500;
    color:rgb(49, 49, 49);
}

.bagbutton{
    color:white;
    cursor: pointer;
    height:50px;
    width:53%;
    border:1px solid white;
}

.wishlistbutton{
    background-color: white;
    border:1px solid rgb(131, 131, 131,0.3);
    height:50px;
    width:40%;
    margin-left:20px;

}

.bagbuttonsdiv{
/* margin-top: 25px; */
margin-bottom: 20px;
}

.sizes{
    background-color: white;
    border:1px solid rgb(131, 131, 131,0.3);
    height:60px;
    width:45px;
    margin-right:3%;
}
.sizes:hover {
    background-color: black;
    color: white;
  }
.socialicons{
    margin-top:20px;
}

@media screen and (max-width:940px){
    .bagbutton{
        width:40%;
    }
    .wishlistbutton{
        width:40%
    }
}
@media screen and (max-width:700px){
    .sizes{
        margin-top: 2%;
    }
    .mainDiv{
        flex-direction: column;
    }
}