.productContainer{
    display: flex;    
   flex-wrap: wrap;
    padding: 1%;
    /* gap: 1%; */
    font-weight: 500 !important;
    width: 89%;
    margin: auto;
    justify-content: space-between;
}